/* @font-face {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
} */

body {
  font-family: "Happy Monkey", system-ui;
  text-align: center;
  color: #ffffff;
  background: #a2d2ff;
}

#title {
  font-size: 40px;
}

#avatar {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #efb0c9;
}

h2 {
  font-size: 32px;
}

h4 {
  font-weight: 600;
}

h1,
h2,
h4 {
  text-shadow: 0px 0px 1px black;
}
