/* @font-face {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
} */

body {
  font-family: "Happy Monkey", system-ui;
  text-align: center;
  color: #ffffff;
  background: #a2d2ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 40px;
}

#avatar {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #efb0c9;
  margin-bottom: 10px;
}

/* h2 {
  font-size: 32px;
}

h4 {
  font-weight: 600;
} */

h1,
h2,
h3,
h4 {
  text-shadow: 0px 0px 1px black;
}

#bday-age {
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

#bday-date {
  margin: 0;
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

.gift-img {
  width: 400px;
  height: 400px;
  border: 6px solid #ffffff;
  border-radius: 10px;
  background-image: url(./images/gift-cover.jpg);
  background-size: cover;
  margin: 0 auto;
}
